@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

*{
  font-family: "Parkinsans", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}